name: Docs

on:
  # Ensure successful build before merging PR to main
  pull_request:
    branches:
      - main
    paths:
      - docs/**
      - mkdocs.yml

  # Build and deploy docs on push to main
  push:
    branches:
      - main
    paths:
      - docs/**
      - mkdocs.yml

jobs:
  build:
    name: Build
    uses: equinor/ops-actions/.github/workflows/mkdocs.yml@v9.31.0
    with:
      requirements: .[docs]
      upload_artifact: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
      git_fetch_depth: 0 # Required by MkDocs plugin "mkdocs-git-revision-date-localized-plugin"
    permissions:
      contents: read

  deploy:
    name: Deploy
    needs: build
    if: needs.build.outputs.artifact_uploaded == 'true'
    uses: equinor/ops-actions/.github/workflows/github-pages.yml@v9.31.0
    with:
      artifact_name: ${{ needs.build.outputs.artifact_name }}
    permissions:
      pages: write
      id-token: write
